branches:
  only:
    - master

language: android
sudo: false

android:
  components:
    - build-tools-22.0.1

    - android-21

    - extra-android-support
    - extra-android-m2repository

    - sys-img-armeabi-v7a-android-21

before_script:
    - echo no | android create avd --force -n test -t android-21 --abi armeabi-v7a
    - emulator -avd test -no-skin -no-audio -no-window &
    - adb wait-for-device
    - adb shell input keyevent 82 &

script:
    - ./gradlew clean connectedCheck --info

cache:
  directories:
    - $HOME/.gradle
    - $HOME/.m2/repository
